/* root variables */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font */
@font-face {
    font-family: 'Solitreo-regular';
    src: url('../Assets/myday-photobooth/font/Solitreo/Solitreo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.header-container {
    width: 100%;
    padding-top: 1.5%;
    margin-bottom: 0.5rem;
}

.header {
    font-family: Solitreo-regular, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.header {
    cursor: pointer;
}

.text {
    font-family: Solitreo-regular, sans-serif;
    font-size: 2.1rem;
    margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 2vw;
    }

    .text {
        font-size: 5vw;
    }
}

/* containers */
.photobooth-container {
    position: relative;
    width: 53vmin;
    max-width: 600px;
    aspect-ratio: 622/933;
    overflow: hidden;
    background: #e8e8e8;
}

/* countdown timer */
.countdown-timer {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    color: #ffffffc3;
    text-align: center;
    font-family: Inter-Black, serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    pointer-events: none;
    transition: none;
}

/* canvas and video */
#finalCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

#liveVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    transform: scaleX(-1);
    z-index: 1;
    display: none;
}


.frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .photobooth-container {
        width: 90vw;
        max-width: none;
        aspect-ratio: 622/933;
    }
}


.button {
    color: #000000;
    font-family: Solitreo-regular, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 0.8rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    height: 3rem;
    line-height: 0;
    padding: 0.6rem 1.2rem 0.2rem 1.2rem;
    margin-top: 15px;
}

.button:hover {
    transform: scale(1.05);
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}


@media screen and (max-width: 768px) {
    .button {
        font-size: 3.5vw;
        width: 20vw;
        height: 10vw;
        padding: 0.4rem 0.6rem 0.2rem 0.6rem;
    }
}