/* root variables */
:root {
    --main-background: #ffffff;
    --main-text: #000000;
    --white: #ffffff;

    --container-width: 500px;
    --container-aspect-ratio: 600/513;

}

/* font */
@font-face {
    font-family: 'Solitreo-regular';
    src: url('../Assets/myday-photobooth/font/Solitreo/Solitreo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100%;*/
    min-height: 100vh;
    padding: 1rem 0 1rem 0;
    gap: 0;
}

/* title */
.title {
    position: relative;
    width: 520px;
    padding-top: 1%;
    margin-bottom: 0;
}

.title img {
    width: 100%;
    /* 圖片為父容器的100% */
    height: auto;
    /* 高度請根據寬度的縮放比例自動計算 */
}

@media screen and (max-width: 768px) {
    .title {
        width: 70vw;
    }
}

/* containers */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    gap: 0.5rem;
    margin-top: 0;
    padding-top: 0;
}

.photobooth-container {
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: var(--container-width);
    aspect-ratio: var(--container-aspect-ratio);
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 0;
}

/* 響應式設計*/
@media screen and (max-width: 768px) {
    .home-container {
        width: 90vw;
    }

    .photobooth-container {
        width: 90vw;
    }
}

.photobooth-mock,
.denimalz-mock-1,
.denimalz-mock-2 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

/* photobooth frame */

.photobooth-mock {
    z-index: 2;
    width: calc((383.63/600) * 100%);
    height: calc((480/513) * 100%);
    background-image: url('../Assets/myday-photobooth/homepage/animated-photobooth-mock/1.jpg');
    opacity: 1;
}


.denimalz-mock-1 {
    z-index: 1;
    width: calc((57/600) * 100%);
    height: calc((100/542) * 100%);
    position: absolute;
    left: calc((118/600) * 100%);
    top: calc((345/530) * 100%);
    background-image: url('../Assets/myday-photobooth/homepage/denimalz1.png');
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    opacity: 0;
}

.denimalz-mock-1.is-active {
    transform: translateX(-75%);
    opacity: 1;
}

.denimalz-mock-2 {
    z-index: 1;
    width: calc((57/600) * 100%);
    height: calc((100/542) * 100%);
    position: absolute;
    left: calc((428/600) * 100%);
    top: calc((360/530) * 100%);
    background-image: url('../Assets/myday-photobooth/homepage/denimalz2.png');
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    opacity: 0;
}

.denimalz-mock-2.is-active {
    transform: translateX(75%);
    opacity: 1;
}


button {
    color: var(--main-text);
    font-family: Solitreo-regular, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--white);
    border: 1px solid #000000;
    border-radius: 0.8rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    /* ?? */
    width: 10rem;
    height: 3.5rem;
    line-height: 0;
    padding: 0.8rem 1rem 0.2rem 1rem;
}

button:hover {
    transform: scale(1.05);
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {

    #enter-button {
        width: 8rem;
        height: 3.2rem;
        font-size: 1.2rem;
        padding: 0.2rem 0.4rem 0.05rem 0.4rem;
        gap: 0.4rem;
    }

}


.intro-text-container {
    margin-top: auto;
    width: 90%;
}


.intro-text-title {
    font-family: Inter-Black, sans-serif;
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0.07em;
    line-height: 1.5;
}

.intro-text {
    font-family: Inter-Regular, sans-serif;
    font-size: 0.7rem;
    text-align: center;
    /*margin-top: 0.05rem;*/
    letter-spacing: 0.07em;
    line-height: 1.5;
    padding-bottom: 2%;
}

a {
    text-decoration: underline;
    color: #868686;
    cursor: pointer;
}