/* root variables */
:root {
    --main-background: #ffffff;
    --main-text: #000000;
    --white: #ffffff;
}

/* font */
@font-face {
    font-family: 'Solitreo-regular';
    src: url('../Assets/myday-photobooth/font/Solitreo/Solitreo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../Assets/myday-photobooth/font/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem 0 1rem 0;
    gap: 0;
}

/* containers */
.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    gap: 0.5rem;
    margin-top: 0;
    padding-top: 3%;
    aspect-ratio: 600/420;
}

.header-container {
    width: 100%;
    padding-top: 1.5%;
    margin-bottom: 3rem;
}

.header {
    font-family: Solitreo-regular, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.header {
    cursor: pointer;
}

.text {
    font-family: Solitreo-regular, sans-serif;
    font-size: 2.1rem;
    margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 2vw;
    }

    .text {
        font-size: 5vw;
    }
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 5%;
}

.frame-button {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0;
    cursor: pointer;
}

#frame-1 {
    background-color: transparent;
    background-image: url("../Assets/myday-photobooth/menupage/frame1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#frame-2 {
    background-color: transparent;
    background-image: url("../Assets/myday-photobooth/menupage/frame2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#frame-3 {
    background-color: transparent;
    background-image: url("../Assets/myday-photobooth/menupage/frame3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#frame-4 {
    background-color: transparent;
    background-image: url("../Assets/myday-photobooth/menupage/frame4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 768px) {
    .menu-container {
        width: 90vw;
    }

    .button-grid {
        gap: 5vw;
    }

    .frame-button {
        width: 20vw;
        height: 20vw;
    }
}

.button {
    color: var(--main-text);
    font-family: Solitreo-regular, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: var(--white);
    border: 1px solid #000000;
    border-radius: 0.8rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
    width: 17rem;
    height: 4rem;
    line-height: 0;
    padding: 0.8rem 1rem 0.2rem 1rem;
    margin-bottom: 2%;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
    background-color: #eaeaea;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
    .button {
        font-size: 3.5vw;
        width: 40vw;
        height: 10vw;
        padding: 0.4rem 0.6rem 0.2rem 0.6rem;
    }
}


.info {
    font-family: Inter-Regular, sans-serif;
    font-size: 0.7rem;
    position: fixed;
    bottom: 2%;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #868686;
    cursor: pointer;
}